@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --header-color: rgb(207, 185, 151);
    --body-color: rgb(155, 161, 123);
    --book-color: rgb(250, 214, 165);
    --footer-color: rgb(97, 118, 75);
    --unread-color: rgb(170,26,68);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: var(--body-color);
}

/* Laptop/iPad/Tablet layout & sizing */
#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header,
footer {
    width: 97.8vw;
    padding: 20px;
}

header,
header > div {
    display: flex;
    align-items: center;
}

header {
    justify-content: center;
    position: sticky;
}

header > div {
    flex: 1;
    gap: 10px;
}

header > div:nth-child(2) {
    justify-content: flex-end;
}

main {
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    
    display: inherit;
    flex-direction: inherit;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main > div > h1 {
    font-size: 3.5em;
}

#form-popup {
    top: calc(100vh - 87vh);
    left: calc(100vw - 325px);
}

#library {
    width: 100%;
    height: 100%;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max-content;
    justify-items: center;
    row-gap: 15px;
}

.library-book {
    width: 91.5%;
    height: auto;
}

/* Overall Design */
header {
    color: var(--footer-color);
    background-color: var(--header-color);
}

.header-icon {
    height: 2.4em;
    display: flex;
    filter: invert(43%) sepia(26%) saturate(528%) hue-rotate(47deg) brightness(92%) contrast(87%);
}

main > div > h1 {
    font-weight: 700;
    color: var(--header-color);
    text-shadow: 2px 2px 1px var(--footer-color);
}

main > div:first-of-type {
    width: 98.7%;

    display: inherit;
    justify-content: space-between;
    align-items: center;
}

button,
#open-book-form:disabled,
input:not([type='radio']) {
    appearance: none;
    border: none;
}

#open-book-form {
    display: flex;
    border-radius: 50%;
    background-color: var(--book-color);
}

#open-book-form:disabled {
    color: rgba(255, 255, 255, 0.638);
}

#add-icon {
    height: 3.3em;
    width: auto;
    filter: invert(43%) sepia(27%) saturate(512%) hue-rotate(47deg) brightness(92%) contrast(87%);
}

#form-popup {
    display: none;
    position: absolute;
}

#form-container {
    padding: 20px;
    background-color: var(--header-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-container > div {
    display: grid;
}

#form-container > fieldset {
    padding: 15px;
    border: none;
}

input:not([type='radio']),
#form-container > button {
    height: max-content;
    padding: 6px;
    font-size: 15px;
}

#library {
    flex: 1;
    gap: 20px;
}

.library-book {
    width: 90%;
    height: 100%;
    padding: 13px;
    background-color: var(--book-color);

    display: flex;
    flex-direction: column;
}

.library-book > div:first-child {
    align-self: center;
}

.action-btns {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}  

.read-status,
.remove-btn {
    width: max-content;
    font-size: 15px;
    padding: 10px;
}

.read-status {
    text-transform: uppercase;
    border-radius: 20px;
}

.remove-btn {
    display: flex;
    border-radius: 50%;
    background-color: var(--header-color);
}

.remove-btn > img {
    width: 20px;
    height: auto;
}

.imgSrc,
.title,
.author,
.datePublished {
    text-align: center;
}

.imgSrc {
    margin: 10px 0px;
}

.imgSrc > img {
    width: 80%;
    height: auto;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;

    margin-bottom: 8px;
}

.author,
.datePublished {
    font-weight: 300;
}

footer {
    text-align: center;
    color: var(--book-color);
    background-color: var(--footer-color);
}

footer > a {
    color: var(--book-color);
}

/* Mobile layout/sizing */
@media only screen and (max-width: 699px) {
    header> div > h2 {
        font-size: 1.5em;
    }

    fieldset > div {
        height: max-content;
    }

    #library {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .library-book {
        height: max-content;
    }
}